<% if @remove_evidence.present? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      Are you sure you want to remove '<%= @remove_evidence.name %>'?
    </h2>
    <div class="govuk-error-summary__body">
      <%= form_tag("evidence/#{@remove_evidence['id']}/remove", method: "post") do %>
        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %> <%# form_tag alone appears to generate wrong authenticity token when submitting to another controller? %>
        <%= submit_tag 'Yes, remove', name: 'confirmation', class: 'govuk-button govuk-button--warning' %>
        <a href="overview" class="cancel">Cancel</a>
      <% end %>
    </div>
  </div>
<% end %>
