<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Your scores
    </h1>
  </div>
</div>

<p><%=h session[:current_assessment].to_json %></p>
