<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <div class="govuk-caption-l">Verification checks</div >
        <h1 class="govuk-heading-l">How often do they refresh their training?</h1>
        <fieldset class="govuk-fieldset">
          <% training_frequency = @shared.lists['training_frequency'] %>
            <% ['12_months', '36_months'].each do |training| %>
              <%= render 'shared/radio_item', name: :refresh_training, item: training_frequency.items[training] %>
            <% end %>
            <p> or </p>
            <%= render 'shared/radio_item', name: :refresh_training, item: training_frequency.items['none'] %>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>