<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id='authoritative_source_check'>
          <legend class="govuk-fieldset__legend">
            <div class="govuk-caption-l">Evidence validity</div >
            <h1 class="fieldset__heading">Do you check the details on the <%= evidence_short_name(@form, @evidence) %> match those held by an authoritative source?</h1>
          </legend>
          <p>To be authoritative for a particular piece of information, the source must make sure:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the integrity of the information is protected</li>
            <li>the information is up to date</li>
          </ul>

          <p>The source must also do one of the following:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>issue evidence</li>
            <li>get information from an organisation that issues evidence</li>
            <li>get information from another authoritative source</li>
          </ul>

          <div class="govuk-radios">
            <% @shared.lists['yes_no'].items.each do |value, item| %>
              <%= render 'shared/radio_item', name: :authoritative_source_check, item: item %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>
