<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="cancellation_check">
          <legend class="govuk-fieldset__legend">
            <div class="govuk-caption-l">Evidence validity</div >
            <h1 class="fieldset__heading">Do you check the <%= evidence_short_name(@form, @evidence) %> has not been cancelled?</h1>
          </legend>
          <p>
            You should check an authoritative database of cancelled evidence, for example Interpol for passports or a mobile phone operator for mobile phone contracts.
          </p>
          <div class="govuk-radios">
            <% @shared.lists['yes_no'].items.each do |value, item| %>
              <%= render 'shared/radio_item', name: :cancellation_check, item: item %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>
