<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id='physical_check'>
          <legend class="govuk-fieldset__legend">
            <div class="govuk-caption-l">Evidence validity</div >
            <h1 class="fieldset__heading">Is the person or system supervised when the <%= evidence_short_name(@form, @evidence) %> is checked?</h1>
          </legend>
          <p>The supervisor should have been trained by a specialist trainer, such as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Home Office</li>
            <li>National Document Fraud Unit</li>
            <li>Centre for the Protection of National Infrastructure (CPNI)</li>
          </ul>
          <div class="govuk-radios">
           <% @shared.lists['yes_no'].items.each do |value, item| %>
              <%= render 'shared/radio_item', name: :visible_features_supervision, item: item %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>