<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id='physical_check'>
          <legend class="govuk-fieldset__legend">
            <div class="govuk-caption-l">Evidence validity</div >
            <h1 class="fieldset__heading">Do you check if security features are consistent throughout the evidence?</h1>
          </legend>
          <p>For example, in a UK passport, there should be a passport number on the page with the person’s details on it. 
            You should check if this number is the same as the number punched on the other pages in the passport.</p>
          <div class="govuk-radios">
            <% @shared.lists['yes_no'].items.each do |value, item| %>
              <%= render 'shared/radio_item', name: :visible_features_consistency, item: item %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>