<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id='physical_check'>
          <legend class="govuk-fieldset__legend">
            <div class="govuk-caption-l">Evidence validity</div >
            <h1 class="fieldset__heading">Do you check if the evidence has been intercepted and reused?</h1>
          </legend>
          <p>This is known as a 'replay attack'. For example, an image or video of a document might be intercepted as 
            it's being sent to you by email.</p>
          <div class="govuk-radios">
            <% @shared.lists['yes_no'].items.each do |value, item| %>
              <%= render 'shared/radio_item', name: :replay_attack_check, item: item %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>